<ion-content [fullscreen]="true" class="background">
  <ion-header >
    
      
    <ion-card class="cardcontenido">
      <ion-item>
        <ion-title>RECUPERAR CONTRASEÑA</ion-title>
        <ion-img alt="DUOC UC" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/711px-Logo_DuocUC.svg.png"/>
      </ion-item>
    </ion-card> 
   

  </ion-header>
  

  

 <ion-card class="cardcontenido">
  
  <div class="container">  

    <ion-card-header >
      <ion-title  class="ion-text-center" color="success">¡Respuesta Correcta!</ion-title>
      <br>
      <ion-title class="ion-text-center contrasenia"> Su contraseña es: {{ contrasenaRecuperada }}</ion-title>
      <br>
      <ion-img class="imagen" alt="pulgar abajo" src="https://blog.up.edu.mx/hubfs/PrepaUP/PrepaUP-Femenil/Blog-Images/Blog-Co%CC%81mo%20identificar%20tus%20fortalezas%20como%20estudiante%20de%20prepa%20%28Prepa%20F.%29.png"></ion-img>
      <br>
      <ion-button expand="full" routerLink="/ingreso">Regresar</ion-button>
    </ion-card-header>
     
  </div> 

</ion-card>





 



</ion-content>
  <ion-footer>
    <div class="container">
      
      <h6   class="ion-text-center" >Genialtech since 2023</h6>
      
    </div>
  </ion-footer>
