<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png">
  </ion-toolbar>
  <ion-title class="ion-text-center">Sistema de asistencia Duoc Uc</ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <br>
  
  <ion-textarea class="ion-text-center">Respuesta correcta, Su contraseña {{ password }}</ion-textarea>

  <!-- <img src="https://img.freepik.com/psd-gratis/mujer-joven-feliz-pulgar-arriba_1154-254.jpg?size=626&ext=jpg&ga=GA1.1.1016474677.1696636800&semt=ais">-->
  <img src="https://img.freepik.com/fotos-premium/hombre-guapo-joven-que-siente-sorprendido-riendo-celebrando-exito-concepto-estudiante-universitario_1194-242662.jpg">

  <ion-button (click)="goToLogin()" expand="block" fill="clear" shape="round">
    Iniciar sesión
  </ion-button>
  
</ion-content>
