<ion-content [fullscreen]="true">
  <a #topOfPage href="#topOfPage"></a>
  <ion-card>

    <ion-card-header>
      <ion-card-title>Lista de usuarios</ion-card-title>
    </ion-card-header>

    <ion-card-header>
       Usuarios
      <br>
      <span class="cantidad-usuarios" *ngIf="cantidad === 0">
        No existen usuarios en la base de datos
      </span>
      <span class="cantidad-usuarios" *ngIf="cantidad === 1">
        Existe 1 usuario en la base de datos
      </span>
      <span class="cantidad-usuarios" *ngIf="cantidad > 1">
        Existen {{cantidad}} usuario en la base de datos
      </span>
    </ion-card-header>

    <ion-card class="sin-bordes">
      <ion-card-title class="con-padding-top">Usuarios</ion-card-title>
    </ion-card>
  
    <ion-card *ngFor="let usu of Usuarios">
  
      <ion-card-header>
        <h4>
          #{{ usu.nombre }}: {{ usu.apellido }} <br>
          <ion-card-content>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="6">Correo</ion-col>
                <ion-col size="6">{{usu.correo}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">Contraseña</ion-col>
                <ion-col size="6">{{usu.password}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">Pregunta secreta</ion-col>
                <ion-col size="6">{{usu.preguntaSecreta}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">Respuesta secreta</ion-col>
                <ion-col size="6">{{usu.respuestaSecreta}}</ion-col>
              </ion-row>
            </ion-grid>
            
          </ion-card-content>
        
          <ion-button (click)="eliminarUsuario(usu)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>