<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png">
  </ion-toolbar>
  <ion-title class="ion-text-center">
    <div>
      Sistema de asistencia Duoc
    </div>
  </ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding-vertical">
    <ion-card class="ion-text-center ion-padding-vertical">

      <ion-card-title class="ion-text-center">
        <ion-label>
          <ion-title class="ion-text-center">Recuperar contraseña</ion-title>
        </ion-label>
        <br>
        <h1>Paso 2: Responde la pregunta secreta</h1>
      </ion-card-title>
      <h2>{{ preguntaSecreta }}</h2>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Ingrese respuesta:</ion-label>
          <!-- Usamos ngModel para indicarle al input con que propiedad del controlador va a trabajar -->
          <ion-input type="text" [(ngModel)]="respuestaSecreta"></ion-input>
        </ion-item>
        
        <ion-row>
          <ion-col size="12">
            <!-- 
              Para usar un método de la clase controladora, hay que escribir el evento del control entre paréntesis y luego
              indicar cual es el método a ejecutar; en este caso se trata de ingresar()
            -->
            <ion-button expand="full" (click)="verificarRespuesta(respuestaSecreta)">Recuperar Contraseña</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-button (click)="goToLogin()" expand="block" fill="clear" shape="round">
    Iniciar sesión
  </ion-button>
</ion-content>
