<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding-vertical">
    <div>
      <img src="./assets/icon/Logo_DuocUC.png" />
    </div>
   <ion-text class="ion-text-center">
  <h1>Sistema de Asistencia Duoc Uc</h1>
   </ion-text>
    <ion-card class="ion-text-center ion-padding-vertical">
      <ion-card-title class="ion-text-center">
        <ion-label>
          <h2>Paso 1: Ingresa Tu Correo</h2>
        </ion-label>
      </ion-card-title>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating" >Correo</ion-label>
          <!-- Usamos ngModel para indicarle al input con que propiedad del controlador va a trabajar -->
          <ion-input type="text" [(ngModel)]="usuario.correo"></ion-input>
        </ion-item>
        
        <ion-row>
          <ion-col col-6>
            <!-- 
              Para usar un método de la clase controladora, hay que escribir el evento del control entre paréntesis y luego
              indicar cual es el método a ejecutar; en este caso se trata de ingresar()
            -->
            <ion-button  color="warning" shape="full" (click)="ingresarRecu()">Recuperar Contraseña</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-row>
      <ion-col col-6>
        <ion-button  color="warning" shape="" (click)="goToLogin()">Volver al inicio</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
