<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Recuperacion de Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding-vertical">
    <!--
      Se establece un card que contendrá un título
      y un contenido
    -->
    <ion-card class="ion-text-center ion-padding-vertical">
      <div>
        <img src="" />
      </div>
      <ion-card-title class="ion-text-center">
        <ion-label>
          <h2>Validacion para recuperar contraseña</h2>
        </ion-label>
      </ion-card-title>

      <ion-card-content>
        <ion-item>
          <ion-input [(ngModel)]="correo"  type="text" label="Correo" labelPlacement="floating"></ion-input>
        </ion-item>
        
        <ion-row>
          <ion-col col-6>
            <ion-button   (click)="BuscarCorreo(correo)" color="warning" shape="full" >Recuperar Contraseña</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <ion-button  (click)="goToLogin()" color="warning" shape="" >Volver al inicio</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
