<ion-header>
  <ion-toolbar color='darkblue'>
    <ion-title>Sistema de asistencia Duoc UC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #registroForm="ngForm" (ngSubmit)="registrarUsuario(registroForm)">
    <ion-list>

      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input type="text" name="nombre" [(ngModel)]="usuario.nombre" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Apellido</ion-label>
        <ion-input type="text" name="apellido" [(ngModel)]="usuario.apellido" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Correo</ion-label>
        <ion-input type="email" name="correo" [(ngModel)]="usuario.correo" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="usuario.password" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Repetir Contraseña</ion-label>
        <ion-input type="password" name="repeatPassword" [(ngModel)]="repeticionPassword" required></ion-input>
      </ion-item>

      <ion-item *ngIf="contrasenasNoCoinciden" lines="none">
        <ion-label color="danger">Las contraseñas no coinciden.</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Pregunta Secreta</ion-label>
        <ion-input type="pregunta" name="preguntaS" [(ngModel)]="usuario.preguntaSecreta" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Respuesta</ion-label>
        <ion-input type="pregunta" name="Respuesta" [(ngModel)]="usuario.respuestaSecreta" required></ion-input>
      </ion-item>

      <ion-button color='darkblue' expand="block" type="submit" (click)="goToIngreso()">
        Registrarse
      </ion-button>
    </ion-list>
  </form>
</ion-content>

