ion-content {
  --background: url("https://www.sabbagharquitectos.com/wp-content/thumbgen_cache/cdae11f5808c9b83a3d6446aa7003d80.jpg");
}
color-texto{
  background-color: darkblue;
  border-radius: 0%;
}
//https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkhmGEIH-2Og9q4kvEBgf_rJb7SCfZSe_UJw&usqp=CAU