fondo {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkhmGEIH-2Og9q4kvEBgf_rJb7SCfZSe_UJw&usqp=CAU");
  }
color-texto{
  background-color: darkblue;
  border-radius: 0%;
}